<!-- <h1>{{title}}</h1>
<p>{{user.name}}</p> 
<span>{{user.age}}</span> 
<h2>Hello</h2>
<p>Text</p>
<span>text</span>
<h2>Counter: {{counter}}</h2>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>

<main>

    <div>{{numbers}}</div>

    <div class="number" *ngFor="let num of numbers; index as i">
       <p>{{i}} {{num}}</p>

    </div>

    <div class="user" *ngFor="let user of users">
        <p>{{user.name}}</p>
        <p>{{user.age}}</p>

    </div>
</main> -->
  
<main>
    <app-users></app-users>
</main>